/*****************************************************************/
/*                         Home Page CSS                         */

#pageheader {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}