/*****************************************************************/
/*                         Home Page CSS                         */

#content {
	padding: 20px;
}

#pageheader {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: auto;
}

#topgreeting {
	margin-bottom: -25px;
}

#bottomgreeting {

}

.greeting {
	color: #DE0000;
}

#info {
	width: 700px;
	float: left;
}

#pictureslider {
	width: 600px;
	height: 350px;
	border: 3px solid #524E4E;
	background-color: #877E7E;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.imageslider {
	position: absolute;
	width: 100%;
	min-height: 100%;
  	z-index: 0;
}

.active {
	display: inline-block;
}

.inactive {
	display: none;
}

#addiv {
	width: auto;
	height: auto;
	border-radius: 5px;
	margin-right: 25px;
	float: right;
	
}

#picturemenu {
	margin-top: 10px;
}

.pictureoption {
	width: 30px;
	height: 30px;
	background-color: #DE0000;
	border-radius: 15px;
	margin-right: 5px;
}

.pictureoption:hover {
	cursor: pointer;
}

.inner {
	width: 24px;
	height: 24px;
	background-color: #F1EBD6;
	border-radius: 13px;
	display: inline-block;
	margin: 3px 3px 3px 3px;
}

.inner:hover {
	background-color: #DE0000;
	cursor: pointer;
}

#message {
	width: auto;
	padding: 15px 15px 15px 15px;
}
