/*****************************************************************/
/*                      Monthly Ad Page CSS                      */

#pageheader {
	text-align: center;
}

/*****************************************************************/
/*                     Helper Format Classes                     */
.inline {
	display: inline-block;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}