/*****************************************************************/
/*                        Rental Page CSS                        */

#pageheader {
	text-align: center;
}

#greeting {
	font-size: 45px;
	text-shadow: 2px 2px 2px #242424;
	color: #B80000;
}

#divider {
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	margin-top: 25px;
	margin-bottom: 25px;
}

/*****************************************************************/
/*                     Helper Format Classes                     */
.inline {
	display: inline-block;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}