html {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	
	background-image: url("../images/hardwood.jpg");
}

body {
	margin: 0px;
	height: 100%;
	margin-top: 100px;
	min-width: 1000px;
	 
}

#header {
	top: 0px;
	height: 100px;
	width: 100%;
	min-width: 1000px;
	background-color: #f1ebd6;
	z-index: 100;
	box-shadow: 0px 5px 5px #242424;
	position: fixed;
}

#tvlogo {
	margin-top: -5px;
	margin-left: 20px;
	width: 180px;
}

#greeting {
	float: left;
	border: 0px solid black;
}

#login {
	float: right;
	margin-top: -35px;
	margin-right: 20px;
	border: 0px solid black;
}

#loginmenu li {
	padding-right: 5px;
	font-size: 10px;
}

#loginmenu li a {
	cursor: pointer;
}

#loginbutton {
	cursor: pointer;
}

#menu {
	min-width: 750px;
	margin-top: 30px;
}

a:link    {
  /* Applies to all unvisited links */
  text-decoration: none;
  font-weight: none;
  background-color: none;
  color: black;
} 

a:visited {
  /* Applies to all visited links */
  text-decoration: none;
  font-weight: none;
  background-color: none;
  color: black;
} 

a:hover   {
  /* Applies to links under the pointer */
  text-decoration: none;
  font-weight: none;
  background-color: none;
  color: red;
  cursor: pointer;
} 

#menutable {
	margin-top: 15px;
	cursor: default;
	min-width: 650px;
}

.menuitem {
	color: black;
	font-size: 20px;
	font-weight: bold;
	margin: 10px;
}

#content {
	position: relative;
	margin-top: 150px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	padding-bottom: 50px;
	width: 1000px;
	max-width: 1400px;
	height: auto;
	min-height: 860px;
	border: 0px solid black;
	background: white;
	border-radius: 15px;
	box-shadow: 0px 0px 6px #242424;
}

#gregimage {
	text-align: center;
}

#gregexpert {
	margin-top: 0px;
	margin-bottom: 25px;
	border-radius: 10px;
	box-shadow: 0px 0px 6px #242424;
}

#footer {
	bottom: 0;
	padding-bottom: 0px;
	height: auto;
	width: 100%;
	background-color: #A3A3A3;
	z-index: 100;
	border-top: 2px solid gray;
	color: #474747;
}

#footerinfo {
	text-align: center;
}

.footerlist {
	padding-left: 3px;
	padding-right: 3px;
	list-style-type: none;
}

#gregsgooglemaps {
	color: #474747;
}

#gregsgooglemaps:hover {
	text-decoration: none;
  	background-color: none;
  	font-weight: bold;
  	margin-left: -4px;
  	margin-right: -4px;
  	color: #0270d0;
  	cursor: pointer;
}

.logolink {
	border-radius: 7px;
	margin-left: 40px;
	box-shadow: 0px 0px 6px #242424;
}

/*****************************************************************/
/*                     Helper Format Classes                     */
.inline {
	display: inline-block;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

/*****************************************************************/
/*                     Jade Content Layout                       */



