extends layout

block additionalfiles
  link(rel='stylesheet', href='/stylesheets/about.css')
  script(src='/javascripts/about.js')
    

block content
  #pageheader
    h1 Our Story
  #storehistory
    p The store history will be told here.
  #mapcanvas.centered
