extends layout

block additionalfiles
  link(rel='stylesheet', href='/stylesheets/about.css')
  script(src='/javascripts/about.js')
    

block content
  #pageheader
    h1 Our Story
  #storehistory
    p The store history will be told here.
  #mapcanvas.centered
  #locationinfo
    p We are located at 
      b
        a(href="https://maps.google.com/maps?q=3050+East+Layton+Avenue+St.+Francis,+WI+53235+(414)+483-5550&ie=UTF-8&ei=L50gU4XhGqewyQGVkYHoCQ&ved=0CAkQ_AUoAQ" target="_blank") 3050 E Layton Avenue 
      | just a quarter mile east of Mitchell Airport.
