extends layout

block additionalfiles
  link(rel='stylesheet', href='/stylesheets/home.css')

block content
  #pageheader.centered
    h4#topgreeting.greeting Welcome to the official site of 
    h1#bottomgreeting.greeting Greg's True Value
  #pictureslider.inline
    h3 pictures
  #addiv.inline
    img(src="./images/BOM_March.jpg")
  ul#picturemenu
    li.inline
      #option1.pictureoption
    li.inline
      #option2.pictureoption
    li.inline
      #option3.pictureoption
  #message
    h2 Thank you for visiting Hahn Ace Hardware of
    p Hartford and Delafield!
    At Hahn we strive everyday to provide a welcome atmosphere that is clean and organized. Our staff is friendly and ready to assist you with all your home improvement and maintenance needs.
    Whether you tackle projects weekly, monthly or yearly, Hahn is here to help make your life easier. From under the sink to your yard & garden, you can depend on us for tips and advice to complete your projects right the first time. We hope you have a great shopping experience!