doctype html
html
  head
    title Greg's True Value
    script(type='text/javascript', src='./javascripts/javascript.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-latest.min.js")

  body
    #header
      #greeting
        h3 Welcome to the official site of Greg's True Value
      #menu.inline.centered
        table#menutable.centered
          tr
            td.inline.menuitem
              a(href="/") Home
            td.inline.menuitem |
            td.inline.menuitem
              a(href= "/about") About
            td.inline.menuitem |
            td.inline.menuitem
              a(href= "/rewards") Rewards
            td.inline.menuitem |
            td.inline.menuitem
              a(href= "/localad") Local Ad
            td.inline.menuitem |
            td.inline.menuitem
              a(href="/rental") Just Ask Rental
    #content.centered
      block content

    #footer.centered
      p This is my footer.
