doctype html
html
  head
    title Greg's True Value
    script(type='text/javascript', src='./javascripts/javascript.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-latest.min.js")
  body
    #header.centered
      #welcome.inline
        img(src="/images/truevaluelogo.gif")#tvlogo
      #menu.inline
        table#menutable
          tr
            td.inline.menuitem
              a(href="/") Home
            td.inline.menuitem
              a(href= "/about") About
            td.inline.menuitem
              a(href="/contactus") Contact Us
            td.inline.menuitem
              a(href= "/rewards") Rewards
            td.inline.menuitem
              a(href= "/localad") Local Ad
    #content.centered
      block content

    #footer.centered
