extends layout

block additionalfiles
  script(type='text/javascript', src='./javascripts/monthlyad.js')
  link(rel='stylesheet', href='/stylesheets/monthlyad.css')

block content
  #pageheader.centered
    h1#greeting Monthly Ad

  #divider
