extends layout

block additionalfiles
  script(type='text/javascript', src='./javascripts/rental.js')
  link(rel='stylesheet', href='/stylesheets/rental.css')

block content
  #pageheader
    h1#greeting Just Ask Rental

  #divider
